{% extends "templates/base.html" %}
{% block title %}{{ block.super }} Password Reset Confirm {% endblock %}

{% block content %}
<div align="center" class="box">
	{% if form.errors %}
	<div class="text">
		<p>Do follow the following conditions</p>
	</div>
	{% endif %}

	<form method="POST" class="text box">
		{% csrf_token %}
		{% for field in form %}
		{% if field.help_text %}
			{{ field.help_text }}
		{% endif %}
			<span class="text">{{ field.label }}</span><br>
			<span class="text">{{ field }}</span><br><br>
		{% endfor %}
		<input type="submit" class="btn btn-danger" value="Change">
	</form><br>
</div>
{% endblock %}