{% extends "templates/base.html" %}

{% block title %}{{ block.super }} {{ object.title }}{% endblock %}

{% block content %}
<div class="post">
	<h3>{{ object.title }} 
		{% if request.user == object.author %}
		<a class="fa fa-edit" href="{% url 'blog:update' pk=object.pk %}"></a>
		{% endif %}
		<span class="text">- {{ object.author }}</span>
		<br>
	<sub class="time-text">{{ object.created_date|timesince}} ago</sub></h3>
	<span class="post-text">{{ object.text }}</span><br>
</div><br>
{% if request.user == object.author %}
<div class="post" align="center">
	<a href="{% url 'blog:delete' pk=object.pk %}" class="btn btn-danger">Delete</a>
</div>
{% endif %}
{% endblock %}