.blog-header {
	font-family: 'Major Mono Display', monospace;
	background: #afff23;
	font-size: 400%;
}

div h3 {
	font-family: 'Major Mono Display', monospace;
	font-weight: 800;
	color: white;
}

.time-text {
	font-size: 50%;
	color: tomato;
}

.post {
	background: #006666;
	padding: 40px;
}

.post-text {
	color: white;
	font-family: 'Josefin Sans', sans-serif;
}

.btn, .text {
	font-family: 'Josefin Sans', sans-serif;
}

.title-input {
	border: 2px solid #006666;
	border-radius: 4px;
	width: 100%;
	padding: 20px;
}

.text-input {
	border: 2px solid #006666;
	border=border-radius: 4px;
	width: 100%;
	padding: 20px;
}

div h3 a:hover {
	color: white;
}

div h3 a:visited {
	color: white;
}

div h3 a:link {
	color: white;
}

#id_username, #id_password, #id_email, #id_new_password1, #id_new_password2, #id_password1, #id_password2 {
	border: 2px solid #006666;
	border-radius: 4px;
	padding: 10px;	
}

.box {
	padding: 40px;
}

.link {
	color: inherit;
	text-decoration: none;
}

.google-btn {
	background: #faebd7;
	width: 80%;
	border: 2px solid #006666;
	border-radius: 4px;
}