{% extends "templates/base.html" %}

{% block title %}{{ block.super }} Home{% endblock %}

{% load blog_extras %}

{% block content %}
<div align="center">
	<form method="POST">{% csrf_token %}
		<input type="text" name="username" placeholder="Search Users" class="text" id="searched">
		<input type="submit" value="Search" class="btn btn-primary">
	</form>
</div><br>

<div align="center">
{% if queryset and queryset != -1 %}
	{% for u in queryset %}
		<a href="{% url 'user:detail' u.username %}" class="text">{{ u }}</a>
		<br>
	{% endfor %}
{% elif queryset == -1 %}
	<h4>No such user found</h4>
{% endif %}
</div><br>

<h1 class="text text-center"><a class="text-primary" href="{% url 'user:detail' request.user %}">{{ request.user }}'s</a> following feed</h1>

{% if object_list %}
	{% for obj in object_list %}
		<div class="post">
			<h3>{{ obj.title }}
			{% if request.user == obj.author %}
				<a class="fa fa-edit" href="{% url 'blog:update' pk=obj.pk %}"></a>
			{% endif %}
				<span class="text">- <a href="{% url 'user:detail' obj.author %}">{{ obj.author }}</a></span><br>
			<sub class="time-text">{{ obj.created_date|timesince}} ago</sub></h3>
			<span class="post-text">
				{% for line in obj.text.splitlines %}
				{{ line }}<br>
				{% endfor %}
			</span><br>
			<div class="post-text" align="center" style="font-size: 130%;">
				<a href="whatsapp://send?text={{ request.build_absolute_uri|get_qs }}%2F{{ obj.pk }}" style="color: inherit; text-decoration: none;"><span class="fa fa-whatsapp"></span></a>&nbsp;&nbsp;&nbsp;
				<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri|get_qs }}%2F{{ obj.pk }}" style="color: inherit; text-decoration: none;"><span class="fa fa-facebook"></span></a>&nbsp;&nbsp;&nbsp;
				<a href="https://www.linkedin.com/cws/share?url={{ request.build_absolute_uri|get_qs }}%2F{{ obj.pk }}&token=&isFramed=true" style="color: inherit; text-decoration: none;"><span class="fa fa-linkedin"></span></a>
			</div>		
		</div><br>
	{% endfor %}
{% else %}
	<h2 class="text text-center">You don't follow any user</h2>
{% endif %}
	
{% endblock %}