{% extends "templates/base.html" %}

{% block title %}{{ block.super }} {{ object.title }}{% endblock %}

{% block content %}
<div class="post">
	<h3>{{ object.title }} 
		{% if request.user == object.author %}
		<a class="fa fa-edit" href="{% url 'blog:update' pk=object.pk %}"></a>
		{% endif %}
		<span class="text">- <a href="{% url 'user:detail' object.author %}">{{ object.author }}</a></span>
		<br>
	<sub class="time-text">{{ object.created_date|timesince}} ago</sub></h3>
	<span class="post-text">
		{% for line in object.text.splitlines %}
			{{ line }}<br>
		{% endfor %}
	</span>
</div><br>
{% if request.user == object.author %}
<div class="post" align="center">
	<a href="{% url 'blog:delete' pk=object.pk %}" class="btn btn-danger">Delete</a>
</div><br>
{% endif %}
<div class="post post-text" align="center">
	<a href="whatsapp://send?text={{ share_content }}" style="color: inherit; text-decoration: none; font-size: 120%;">Share on <span class="fa fa-whatsapp"></span></a>
</div><br>
{% endblock %}	