{% extends "templates/base.html" %}

{% load blog_extras %}

{% block title %}{{ block.super }} {{ object.title }}{% endblock %}

{% block content %}
<div class="post">
	<h3>{{ object.title }} 
		{% if request.user == object.author %}
		<a class="fa fa-edit" href="{% url 'blog:update' pk=object.pk %}"></a>
		{% endif %}
		<span class="text">- <a href="{% url 'user:detail' object.author %}">{{ object.author }}</a></span>
		<br>
	<sub class="time-text">{{ object.created_date|timesince}} ago</sub></h3>
	<span class="post-text">
		{% for line in object.text.splitlines %}
			{{ line }}<br>
		{% endfor %}
	</span>
</div><br>
{% if request.user == object.author %}
<div class="post" align="center">
	<a href="{% url 'blog:delete' pk=object.pk %}" class="btn btn-danger">Delete</a>
</div><br>
{% endif %}
<div class="post post-text" align="center">
	<a href="whatsapp://send?text={{ share_content }}" style="color: inherit; text-decoration: none; font-size: 120%;"><span class="fa fa-whatsapp"></span></a>&nbsp;&nbsp;&nbsp;
	<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri|get_qs }}" style="color: inherit; text-decoration: none; font-size: 120%;"><span class="fa fa-facebook"></span></a>&nbsp;&nbsp;&nbsp;
	<a href="https://www.linkedin.com/cws/share?url=&token={{ request.build_absolute_uri|get_qs }}&isFramed=true" style="color: inherit; text-decoration: none; font-size: 120%;"><span class="fa fa-linkedin"></span></a>
</div><br>
{% endblock %}	
https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.ndtv.com%2Findia-news%2Fcrowds-wait-yogi-adityanath-on-way-but-question-mark-on-bengal-rally-1988613&t=Crowds+Wait%2C+Yogi+Adityanath+On+Way%2C+But+Question+Mark+On+Bengal+Rally

https://www.linkedin.com/cws/share?url=https%3A%2F%2Fwww.ndtv.com%2Findia-news%2Fcrowds-wait-yogi-adityanath-on-way-but-question-mark-on-bengal-rally-1988613&token=&isFramed=true