<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Blog | {% endblock %}</title>
	{% include "templates/cdn.html" %}
	{% load blog_extras %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="text-center blog-header container">
		<a href="{% url 'blog:list' %}" style="text-decoration: none; color: inherit;">Blogs</a>&nbsp;<a href="{% url 'blog:create' %}">&#43;</a>
	</div>
	<div class="container text-center text">
	{% if request.user.is_authenticated %}
		<a href="{% url 'logout' %}" style="font-size: 150%;">Logout</a>
	{% else %}
		{% if not request.path == '/' %}
			<a href="{% url 'login' %}" style="font-size: 150%;">Login</a>
		{% endif %}
	{% endif %}
	<br></div>
	<div class="container">
		{% block content %} {% endblock %}
	</div>
</body>
</html>