{% extends "templates/base.html" %}

{% block title %}{{ block.super }} User Feeds {% endblock %}

{% load blog_extras %}

{% block content %}
<div class="container text">

	{% if messages %}
		{% for message in messages %}
		<div class="alert 
		{% if 'created' in message.tags %}
			alert-success
		{% elif 'updated' in message.tags %}
			alert-primary
		{% elif 'deleted' in message.tags %}
			alert-danger
		{% endif %} 
		alert-dismissible fade show text-center">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		  <strong>{{ message }}</strong>
		</div><br>
		{% endfor %}
	{% endif %}

	<h1 class="text-center">{{ username|title }}'s Feeds&nbsp;
		
		{% if not request.user.username == username %}
		<form method="POST"> {% csrf_token %}
			<input type="hidden" name="username" value="{{ username }}">
			<input type="submit" value="{% if is_following %}Unfollow{% else %}Follow{% endif %}" class="btn btn-{% if is_following %}danger{% else %}primary{% endif %}">
		</form>
		{% endif %}

	</h1>
	{% if object_list %}
		{% for obj in object_list %}
		<div class="post">
			<h3><a href="{% url 'blog:detail' obj.pk %}">{{ obj.title }}</a><br>
		</div><br>
		{% endfor %}
	{% else %}
		{% if not request.user.username == username %}
			<h4 class="text-center">The user hasn't added any content</h4>
		{% else %}
			<h4 class="text-center">Click on <a href="{% url 'blog:create' %}">+</a> to add some</h4>
		{% endif %}
	{% endif %}
</div>
{% endblock %}